.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f6f6;
  color: black;
  height: 100vh;
}

html{
  background-color: #f7f6f6;
}

.lessImagePadding{
  padding: 0.25rem !important;
}

.outerBorders{
  background-color: white;
  padding: 1.25rem;
  border-radius: 25px;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.outerBordersNoneRight{
  background-color: white;
  padding: 1.25rem;
  border-radius: 25px;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.noXPadding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.topOuterBorder{
  margin-top: 1rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.fixLinkOverButtonHover{
  color: white !important; 
  text-decoration: none !important;
}

/* Used to support the table input. Bootstrap has a margin I dont need.  */
.marginTop0{
  margin-top: 0rem;
}

.titleFontSize{
  font-size: 270%;
}

.marginLeft0{
  margin-left: 0rem !important;
}

.marginBottom0{
  margin-bottom: 0rem !important;
}

.modal-body {
  background-color: #f7f6f6;
}

.lineForStats{
  border-right: 1px solid gray;
}

.error {
  color: red;
  font-weight: 100;
  font-size: 70%
}

/* For the landing page */
.imgSection {
  background: linear-gradient(to right, transparent 50%, #f7f6f6 50%), black no-repeat center;
  border: black;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}

.leftHalf {
  background-size: contain;
  background: url("./images/landingPage.png") no-repeat center;
}

.modal-90w{
  width: 90% !important;
  max-width: 90% !important;
}

/* For the landing page */
/* Supports the Title in the center */
.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowNoMargin {
  display: flex !important;
  flex-wrap: wrap !important;
}

.containerNoPadding{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.individTitleForStats {
  color: grey;
  font-size: 70%
}