.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f6f6;
  color: black;
  height: 100vh;
}

html{
  background-color: #f7f6f6;
}

.lessImagePadding{
  padding: 0.25rem !important;
}

.outerBorders{
  background-color: white;
  padding: 1.25rem;
  border-radius: 25px;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.topOuterBorder{
  margin-top: 1rem;
  margin-right: 0rem;
}

/* Used to support the table input. Bootstrap has a margin I dont need.  */
.marginBottom0{
  margin-top: 0rem;
}

.error {
  color: red;
  font-weight: 100;
}

/* For the landing page */
.imgSection {
  background: linear-gradient(to right, transparent 50%, #f7f6f6 50%), url('https://images.pexels.com/photos/731082/pexels-photo-731082.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}

.modal-90w{
  width: 90% !important;
  max-width: 90% !important;
}

/* For the landing page */
/* Supports the Title in the center */
.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowNoMargin {
  display: flex !important;
  flex-wrap: wrap !important;
}